* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #ad8ad3, #9bb4df);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    gap: 30px;
}

.form-box {
    background: #fff;
    padding: 30px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.form-box h2 {
    margin-bottom: 20px;
    color: #333;
}

.form-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-box button {
    width: 100%;
    padding: 10px;
    background: #2575fc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
}

.form-box button:hover {
    background: #6a11cb;
}

.form-box p {
    margin-top: 15px;
    font-size: 14px;
}

.form-box span {
    color: #2575fc;
    cursor: pointer;
    font-weight: bold;
}